
.about-us-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-us-block {
  margin: 100px auto;
  max-width: 685px;
  width: 100%;
  text-align: center;
}

.block-box {
  display: flex;
  justify-content: space-between;

  .box-items {
    max-width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    .box-items-btn {
      width: 180px;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: hsl(180, 9%, 93%);
      border-radius: 50%;
      margin: 0 0 50px;

      &:hover {
        background: hsl(163, 100%, 45%);
      }
    }
  }
}

.subtitle{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

